<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand">Steven Le's Portfolio</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Left Aligned Header-->
    <div class="collapse navbar-collapse show" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
          
      </ul>
    </div>
    <div class="collapse navbar-collapse show" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ml-auto">
    
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-info">Contact Info</a>
        </li>
            
        </ul>  
    </div>
  </nav>
</body>
</html>