.website-background{
    background-color: #123C69;
    /*add these to every web page to make footer align properly*/
    margin: 0;
    min-height: calc(100vh - 24px);
}
.spacing{
    position: relative;
    padding-top: 8vh;
}
.border-style{
    border-style: solid;
    background-color: #343A40;
    box-shadow: 10px 10px grey;
}
.material-spacing{
    padding-top: 2vh;
}
h1,h3,h4,li,p{
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}