.website-background{
    background-color: #123C69;
    /*add these to every web page to make footer align properly*/
    margin: 0;
    min-height: calc(100vh - 24px);
}
.header{
    position: relative;
    padding-top: 8vh;
}