<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="website-background">
            <div class="project-title">
                <h2>Projects</h2>
            </div>
            <div class="project-list">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 project-name-title">
                        <a href="https://www.facebook.com/Dragomegak/" target="_blank">facebook
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 project-name-description">
                            <a href="https://www.facebook.com/Dragomegak/" target="_blank">facebook
                            </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 project-name-link-tech">
                        <a href="https://www.facebook.com/Dragomegak/" target="_blank">facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>