.website-background{
    background-color: #123C69;
    /*add these to every web page to make footer align properly*/
    margin: 0;
    min-height: calc(100vh - 48px);
    padding-bottom: 5vh;
}
.website-background>table{
    background-color: #343A40;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}
.project-title{
    /* Shifts page down from the header & pads project list*/

    position: relative;
    /* 
    Minor change to account for header
    top: 35px; 
    */
    
    padding-top: 8vh;
    padding-bottom: 2vh; /* 0.20vh; */
}
.project-title>h2{
    /* Header Color & Attributes */
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}
.github-link{
    /* Header Color & Attributes */
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
    padding-bottom: 2vh;
}
.project-list{
    /* Styling for the Table */
    border-style: solid;
    background-color: #343A40;
    box-shadow: 10px 10px grey;
}
.project-text{
    /* Styling for the Table Text */
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}
/* Deprecated
.row-spacing{
    padding: 0.5vh;
}
 */