<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="website-background">
            <div class="project-title">
                <h2>Projects</h2>
            </div>
            <div class="container project-list">
                <!-- Table Row Template
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text text-center">
                        <h4>Insert Project Name</h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>Insert Description</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                </div> 
                -->
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text text-center">
                        <h4>Desktop Environmental Setup Manager</h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>This is a Microsoft Windows Program application and uses a QT Frontend with C++ and Win32API backend to create a virtual desktop based on a profile system. The profiles are made ahead of time and have a list of programs to run. The profiles can be made for different scenarios that require different programs to be launched.</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>C++</li>
                            <li>QT Framework</li>
                            <li>Win32 API</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text text-center">
                        <h4>Insert Project Name</h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>Insert Description</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>