<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="website-background">
            <div class="project-title">
                <h2>Projects List</h2>
            </div>
            <div class="container project-list">
                <!-- Table Row Template using grid
                <div class="row  row-spacing">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text text-center">
                        <h4>Insert Project Name</h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>Insert Description</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                </div> 
                -->
                <div class="row row-spacing">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <h4><a href="https://github.com/Dragomegak/DESM-Personal">Desktop Environmental Setup Manager</a></h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>This is a Microsoft Windows Program application and uses a QT Frontend with C++ and Win32API backend to create a virtual desktop based on a profile system. </p>
                        <p>The profiles are made ahead of time and have a list of programs to run. The profiles can be made for different scenarios that require different programs to be launched.</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>C++</li>
                            <li>QT Framework</li>
                            <li>Win32 API</li>
                        </ul>
                    </div>
                </div>
                <div class="row row-spacing">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <h4><a href="https://github.com/Dragomegak/Alien-Attack">Alien Attack</a></h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>An IOS Game where you tap aliens coming down from the top of your screen!</p>
                        <p>This game used a multitude of IOS/Swift unique features like delegation for physics, gamescene/gameview for specific tools used to make games and easy local database storage </p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>Swift 4.2</li>
                            <li>Xcode IDE</li>
                        </ul>
                    </div>
                </div>
                <div class="row row-spacing">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <h4><a href="https://github.com/Dragomegak/filer">Nodejs Filer</a></h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>Node-like file system for browsers - <a href="https://filerjs.github.io/filer">https://filerjs.github.io/filer</a></p>
                        <p>I contributed a test for a npm based project Filer which is a drop-in replacement for node's fs module, a POSIX-like file system for browsers.</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>Nodejs</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                </div>
                <div class="row row-spacing">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <h4><a href="https://github.com/Dragomegak/Android-Jetpack">Android Jetpack</a></h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>Documentation created to speed up development and become a be a reference for Android Development</p>
                        <p>A project I contributed to in order to understand more about android development as well as continue to learn and make meaningful and useful documentation for others to use.</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>Markdown</li>
                            <li>Kotlin</li>
                        </ul>
                    </div>
                </div> 
                <div class="row  row-spacing">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <h4><a href="https://github.com/Dragomegak/zopfli">Zopfli</a></h4>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8 project-text">
                        <p>Zopfli Compression Algorithm is a compression library programmed in C to perform very good, but slow, deflate or zlib compression.</p>
                        <p><a href="https://stevenleopensourceblog.wordpress.com/2018/11/06/spo600-saa-project/">Referencing this.</a> A project I analyzed the runtime and and tried my hand at seeing whether I could further optimize using methods like optimization flags, unique CPU performance characteristics, auto-vectorization etc.  </p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 project-text">
                        <p>Technologies Used</p>
                        <ul>
                            <li>Assembly Language</li>
                            <li>x86/x64 Architectures</li>
                            <li>ARMv8a/AArch64 Architectures</li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
        <!--
            Table Template -> Switch grid to table, much better scaling 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table> -->
    </body>
</html>