<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="website-background">
            <div class="maps-text-container">
                <div class="location-map left-element">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=15%20hook%20avenue&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.embedgooglemap.net/blog/private-internet-access-coupon/">privatevpn coupon</a>
                        </div>
                        <style>.mapouter{position:relative;text-align:right;height:500px;width:500px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}</style>
                    </div>
                </div>
                <div class="information right-element">
                    <div class="information-text">
                        <h4>Steven Le</h4>
                        <p>Address: <a href="https://goo.gl/maps/PGFM9Fk9PCnfztNZ7">15 Hook Avenue, Toronto, ON M6P1T2</a></p>
                        <p>Phone number: (647)-986-6569</p>
                        <p>Email: <a href="mailto:stevenle6569@gmail.com?Subject=Business%Inquiry">stevenle6569@gmail.com</a></p>
                        <p>Avaliability: </p>
                        <p>             Monday - Friday: 10 AM - 6 PM</p>
                        <p>             Weekends       : 1  PM - 6 PM</p>
                        <h5></h5>
                    </div>  
                </div>
            </div>
        </div>
    </body>
</html>
