.website-background{
    background-color: #123C69;
    /*add these to every web page to make footer align properly*/
    margin: 0;
    min-height: calc(100vh - 48px);
    padding-bottom: 2vh;
}
.location-map{
    padding-top: 5vh;
    
    /* margin: auto;
    width: 50%; */
    /* seeing the border of the map */
    /* border: 3px solid green;
    padding: 10px; */
}
/* .maps-text-container{
    position: fixed;
    left: 50vh;
    padding: 0;
    margin: 0;
    /* background-color: #ff00ff; 
} */
/* .left-element {
    /* background: green; 
    display: inline-block;
    float: left;
} */

.information {
    /* background: red; */
    border-style: solid;
    background-color: #343A40;
    padding-bottom: 1vh;
}
.information-text {
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}
.information-text>h4{
    padding-top: 1vh;
}
.subject-to-change{
    font-size: 75%;
}