.webpage{
    /* Shifts page down from the header */
    position: relative;
    top: 35px;
}
.carousel-inner{
    /* Handles carousel image properties */
    display: inline-block; 
    position: relative;
    height: 650px;
    /* remove padding later */
    /* padding: 5px; */
}
.carousel-item{
    /* Handles picture framing and alignment */ 
    position: relative;
    max-height: 650px;
    top: 50%;
    transform: translateY(-50%)
}
.carousel-caption{
    /* Carousel font attributes */
    font-size: 140%;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
    /* Caption positioning */
    position: absolute;
    top: 80%;
}