.website-background{
    background-color: #123C69;
    /*add these to every web page to make footer align properly*/
    margin: 0;
    min-height: calc(100vh - 50px);
}
.carousel{
    /* Shifts page down from the header */

    position: relative;
    /* 
    Minor change to account for header
    top: 35px; 
    */
    padding-bottom: 0.180vh;
    background-color: grey;
}
.carousel-size{
    /* Should handle the carousel size*/
}
.carousel-inner{
    /* Handles carousel image properties */

    display: inline-block; 
    position: relative;
    height: 60vh;
    /* 
    remove padding later

    padding: 5px; 
    */
}
.carousel-item{
    /* Handles picture framing and alignment */ 
    
    /* 
    Remove later, stretches picture and does not scale to adaptive screen size
    
    position: relative;
    margin: auto;
    max-width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%); 
    */

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 650px;
    width: auto;
}
.carousel-caption{
    /* Carousel font attributes */

    font-size: 140%;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
    /* Caption positioning */
    
    position: absolute;
    top: 80%;
}
.social-media-text{
    /* padding-top: 2vh; */
    padding-bottom: 2vh;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 4px;
}
.social-media-logos{
    margin: 0;
}
.external-links{
    padding: 2vh;
    
}
.logos{
    /* Streamline Logo properties */
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}